*{
    margin: 0;
    padding: 0;
    font-family: Courier, monospace;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
}

#glow{
    font-size: 6em;
    color: white;
    font-weight: 500;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: block;
    position: relative;
    top: 40%;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e6e6e6, 0 0 40px #d6d6d6;
    }
  }

#anotherGlow{
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: block;
    position: relative;
    top: 40%;
}

@-webkit-keyframes anotherGlow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e6e6e6, 0 0 40px #d6d6d6;
    }
  }

#bigBang {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -20%;
    background-color: white;
    border-radius: 50%;
}


#afterBang{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #000;
}

.space {
    width: 100%;
    height: 100%;
    background-color: black;
}

.imgOfTheSun{
    height: 100px;
    position: relative;
    top: -60%;
    left: 45%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheSunClicked{
    height: 600px;
    top: -95%;
    left: 27%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
}

.imgOfTheMercury{
    height: 15px;
    position: relative;
    top: -60%;
    left: 45%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheMercuryClicked{
    height: 400px;
    top: -75%;
    left: 14%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheVenus{
    height: 20px;
    position: relative;
    top: -53%;
    left: 30%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheVenusClicked{
    height: 400px;
    top: -80%;
    left: 16%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheEarth{
    height: 23px;
    position: relative;
    top: -45%;
    left: 33%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheEarthClicked{
    height: 400px;
    top: -80%;
    left: 21%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheMars{
    height: 17px;
    position: relative;
    top: -90%;
    left: 33%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheMarsClicked{
    height: 400px;
    top: -80%;
    left: 3%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheJupiter{
    height: 60px;
    position: relative;
    top: -40%;
    left: 45%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheJupiterClicked{
    height: 350px;
    top: -80%;
    left: 17%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheSaturn{
    height: 45px;
    position: relative;
    top: -90%;
    left: -4%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheSaturnClicked{
    height: 300px;
    top: -80%;
    left: 1%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheUranus{
    height: 35px;
    position: relative;
    top: -25%;
    left: -18%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheUranusClicked{
    height: 500px;
    top: -80%;
    left: -1%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheNeptune{
    height: 32px;
    position: relative;
    top: -100%;
    left: 55%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheNeptuneClicked{
    height: 500px;
    top: -80%;
    left: -3%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.box{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
}

.box h2{
    font-size: 3em;
}

.box .logo{
    max-width: 300px;
    max-height: 250px;
    margin-left: calc(50% - 150px);
}

.box2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #000;
}

.box2 h2{
    font-size: 3em;
    color: #fff;
}