*{
    margin: 0;
    padding: 0;
    font-family: Courier, monospace;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #000;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
}

#myGlow{
    font-size: 6em;
    color: white;
    font-weight: 500;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: block;
    position: relative;
    top: 40%;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e6e6e6, 0 0 40px #d6d6d6;
    }
  }

#anotherGlow{
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: block;
    position: relative;
    top: 40%;
}

@-webkit-keyframes anotherGlow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e6e6e6, 0 0 40px #d6d6d6;
    }
  }

#bigBang {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -20%;
    background-color: white;
    border-radius: 50%;
}


#afterBang{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #000;
}

.space {
    width: 100%;
    height: 100%;
    background-color: black;
}

.imgOfTheSun{
    height: 100px;
    position: relative;
    top: -60%;
    left: 45%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheSunClicked{
    height: 600px;
    top: -95%;
    left: 27%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
}

.imgOfTheMercury{
    height: 15px;
    position: relative;
    top: -60%;
    left: 45%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheMercuryClicked{
    height: 400px;
    top: -75%;
    left: 14%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheVenus{
    height: 20px;
    position: relative;
    top: -53%;
    left: 30%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheVenusClicked{
    height: 400px;
    top: -80%;
    left: 16%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheEarth{
    height: 23px;
    position: relative;
    top: -45%;
    left: 33%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheEarthClicked{
    height: 400px;
    top: -80%;
    left: 21%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheMars{
    height: 17px;
    position: relative;
    top: -90%;
    left: 33%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheMarsClicked{
    height: 400px;
    top: -80%;
    left: 3%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheJupiter{
    height: 60px;
    position: relative;
    top: -40%;
    left: 45%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheJupiterClicked{
    height: 350px;
    top: -80%;
    left: 17%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheSaturn{
    height: 45px;
    position: relative;
    top: -90%;
    left: -4%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheSaturnClicked{
    height: 300px;
    top: -80%;
    left: 1%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheUranus{
    height: 35px;
    position: relative;
    top: -25%;
    left: -18%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheUranusClicked{
    height: 500px;
    top: -80%;
    left: -1%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.imgOfTheNeptune{
    height: 32px;
    position: relative;
    top: -100%;
    left: 55%;
    z-index: 1;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
} 

.imgOfTheNeptuneClicked{
    height: 500px;
    top: -80%;
    left: -3%;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
}

.clickToZoom{
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: block;
    position: relative;
    top: -115%;
}

.box{
    margin-top: 3em;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-image: url("images/universe/closeEarth.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.box h2{
    font-size: 3em;
}

.box h1{
    font-size: 3em;
}

#text1, #text2, #text3, #text4, #text5{
    padding-top: 0.1em;
    font-weight: 500;
    color: #000;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #000, 0 0 20px rgb(99, 99, 99);
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e6e6e6, 0 0 40px #d6d6d6;
    }
  }
  
  #myDocs{
    padding: 2em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #firstRect{
    height: 200px;
    width: 300px;
    border: 3px dashed rgb(53, 53, 53);
    border-radius: 10%;
    margin-right: 50px;
    transition: 0.3s;
    background: #fff;
  }

  #firstRect:hover{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 3px solid black;
  }

  #firstRect img{
      margin-top: 15px;
      width: 150px;
      height: 150px;
  }

  #secondRect{
    height: 200px;
    width: 300px;
    border: 3px dashed rgb(53, 53, 53);
    border-radius: 10%;
    margin-left: 50px;
    transition: 0.3s;
    background: #fff;
}

#secondRect:hover{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 3px solid black;
  }

#secondRect img{
    margin-top: 15px;
    width: 150px;
    height: 150px;
}

.box2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #000;
    text-align: center;
}

.box2 h2{
    font-size: 3em;
    color: #fff;
}




